@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/*
#andrew_img img{
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    animation: fadein 3s;
    
    width: 100%;
    height: 100%;
}
*/
#andrew_img {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    animation: fadein 3s;
    
    background-image: url(img/andrew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    width: 100%;
    height: 640px;
}


#about1pic img {
    width: 100%;
    padding-left: 50px;
}

#chevScrollLeft {
    float: left;
    width: 50px;
    padding-left: 5px;
    background-color: white;
    opacity: 0.24;
}

#chevScrollLeft:hover {
    cursor: pointer;
    opacity: 0.7;
}

#chevScrollRight {
    float: right;
    width: 50px;
    padding-right: 5px;
    background-color: white;
    opacity: 0.24;
}

#chevScrollRight:hover {
    cursor: pointer;
    opacity: 0.7;
}

#chevronDiv {
    position: absolute;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
}

#photographySeg {
    height: 600px;
    padding-top: 16px;
}

.photoSegBackground0 {
    background-image: url(img/annie_sf.jpg);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.photoSegBackground1 {
    background-image: url(img/dude_with_cigar.jpg);
    background-repeat: no-repeat;
    background-position: 70% 30%;
}

.photoSegBackground2 {
    background-image: url(img/baby_iphone.jpg);
    background-repeat: no-repeat;
    background-position: 10% 40%;
}

.photoSegBackground3 {
    background-image: url(img/lisha.jpg);
    background-repeat: no-repeat;
    background-position: 10% 20%;
}

.photoSegBackground4 {
    background-image: url(img/max.jpg);
    background-repeat: no-repeat;
    background-position: 30% 20%;
}

#about1pic img {
    width: 80%;
}



