/*
    main-style.css

    Defines default beahvior for commonly used tags
    Please keep order logical to website apperance
    ex) Navigation at top of page and code
        Then comes headers 
        Then comes paragraph description

    For unique styles, refer to respective .css files
*/
body {
    margin: 0px;
    background: #DADADB;
}

#khl {
    float: left;
    border-style: none;
    padding-left: 80px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #222229;
    color: #E8E8DD;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
}

#khl:hover {
    opacity: 0.7;
    cursor: pointer;
}

nav {
    position: fixed;
    width: 100%;
    font-weight: bold;
    
    z-index: 4;
    opacity: 0.92;
    background: linear-gradient(to right, #F6F6F9, white);
}

.navblock {
    float: left;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    /* Padding bottom correlated with border-width in hover to equal 30 px */
    padding-bottom: 26px;
    padding-top: 30px;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
    color: #192338;
}

.navblock:hover {
    border-bottom: solid;
    border-width: 4px;
    border-color: #6D6D6E;
    cursor: pointer;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    /* Headers define distinct segments of the accordian on a page */
    font-weight: 600;
    font-size: 35;
    text-align: center;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
}

.aboutSegBackground0 {
    /*background: linear-gradient(to right, #FFEFDE, white);*/
    background-position: 40% 0%;
    background: #CDDDE5;
}

.aboutSegBackground1 {
    background-image: url(img/pacific_spirit_bw.jpg);
    background-position: 40% 0%;
    background-size: 130%;
}

.aboutSegBackground2 {
    background-image: url(img/south_korea_city.jpg);
    background-position: 20%;
    background-repeat: no-repeat;
}

#aboutSeg {
    /*background-color: #FFEFDE;*/
    padding-bottom: 600px;
    /*height: 100%;*/
    /*font-family: 'Optima', Segoe, 'Segoe UI', Candara, Calibri;*/
    font-family: "Courier New", Courier, Monospace;
}

p {
    font-size: 18px;
    text-align: center;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
}

p.large {
    font-size: 22;
    text-align: center;
}

.relative {
    position: relative;
}

#name_text {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 40px;
    font-size: 18px;
    max-height: 320px;
    overflow: hidden;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
    font-style: normal;
    text-align: center;
}

#about0text {
    padding-top: 90px;
    float: left;
    position: absolute;
    width: 40%;
    z-index 2;
    max-height: 460px;
    overflow: scroll;
}

#about0pic {
    float: right;
    width: 50%;
    padding-top: 90px;
}

#about1text {
    position: absolute;
    width: 60%;
    /* z-index in front of chevron divs so that content is clickable */
    z-index: 2;
    max-height: 460px;
    overflow: hidden;
    left: 20%;
    color: white;
}

#about1pic {
    float: right;
    position: relative;
    padding-top: 50px;
    width: 350px;
    max-height: 350px;
}

#about2text {
    padding-top: 80px;
    float: left;
    position: absolute;
    width: 40%;
    z-index 2;
    max-height: 460px;
    overflow: hidden;
}

#photo_text {
    float: right;
    background: white;
    opacity: 0.4;
    padding-left: 20px;
    padding-right: 20px;
}

#contactSeg {
    background: #4C4C50;
    padding-bottom: 100px;
    padding-top: 100px;
    color: #CCCCCC;
}

#whatSeg {
    background-image: url(img/golden_gate.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}

#whattext {
    width: 60%;
    left: 20%;
    top: 18%;
    padding: 15px;
    position: relative;
    opacity: 0.78;
    background: white;
}

.hiddenAboutPage {
    display: none;   
}

.currAboutPage { 
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
    
    display: block;
}

