.hidden_mobile {
    display: none;
}

#mobile_nav {
    background: #222229;
    width: 100%;
    position: fixed;
    float: left;
    z-index: 4;
    opacity: 0.92;
    padding-top: 10px;
    padding-right: 30px;
}

#mobile_menu {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
}

#mobile_menu:hover {
    cursor: pointer;
}

.mobile_nav_display {
    display: none;
    border-bottom: solid;
    border-width: thin;
    border-color: #E8E8DD;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #E8E8DD;
    text-align: center;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
}


