/*

mobile-style.css 

allows us to control dimensions of mobile version of
website without changing dimensions of desktop version.

*/

#mobile_khl_name {
    position: fixed;
    color: #E8E8DD;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
    padding-left: 30px;
}

#mobile_khl_seg {
    width: 100%;
}

#mobile_name_text {
    background: white;
    color: #222229;
    font-size: 20px;
    
    opacity: 0.8;
    text-align: center;
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#mobile_andrew_img {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    animation: fadein 3s;
    
    background-image: url(img/andrew.jpg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
    
    width: 100%;
    
    height: 500px;
}

#mobile_welcome p {
    padding-left: 10px;
    padding-right: 10px;
}

#mobile_about0tab {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CDDDE5;
}

#mobile_about1tab {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(img/pacific_spirit_bw.jpg);
    background-position: 20%;
    background-size: cover;
}

#mobile_about1text {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background: #161414;
    opacity: 0.8;
}

#mobile_about2tab {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(img/south_korea_city.jpg);
    background-position: 20%;
    background-attachment: fixed;
    background-size: cover;
}

#mobile_about2text {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    opacity: 0.7;
}

#mobile_photography_seg {
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    
    /* Override desktop version of background */
    background-size: cover;
    background-position: 12 20px;
}

#mobile_photo_text {
    background: white;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    top: 490px;
}

#mobile_what_seg {
}

#mobile_what_text {
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.75;
}

#mobile_contact {
    padding-top: 20px;
    height: 160px;
    background: #4C4C50;
    color: #CCCCCC;
}

