.hidden_mobile {
    display: none;
}

#mobile_nav {
    width: 100%;
    position: fixed;
    float: left;
    z-index: 4;
    opacity: 0.92;
}

#mobile_khl {
    background: #222229;
    color: #E8E8DD;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Futura, "Trebuchet-MS", Arial, sans-serif;
}

.andrew_img_mobile {
    background-position: 30%;
    background-size: contain;
}

#mobile_name_text {
    word-wrap: break-word;
    width:inherit;
    padding: 2%;
    background: #222229;
    color: #E8E8DD;
    opacity: 0.95;
    font-size: 20px;
}

#mobile_welcome {
    position: absolute;
    top: 5%;
    right: 5%; 
    margin-left: 5%;
    top: 10%;
    background: white;
    opacity: 0.8;
    border-bottom: solid;
    text-align: center;
}

#mobile_welcome p {
    padding-left: 10px;
    padding-right: 10px;
}
